@tailwind base;
/* @tailwind components; */
/* @tailwind utilities; */

@font-face {
  font-family: "Aboshi One";
  src: "../public/AboshiOne-Regular.ttf";
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --green: #344734;
  --tan: #E7D1B5;
  --white: #FFFFFF;
  --orange: #F1A638;
  --header-Size: 50px;
  background-color: var(--tan);
  color: var(--green);
  font-family: "Aboshi One";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#home {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  position: relative;
  scroll-padding-top: 50px;
}

.screen {
  width: 100vw;
  height: calc(100vh - var(--header-Size));
  overflow: hidden;
  scroll-snap-align: start;
}

.hp {
  margin-top: var(--header-Size);
}

.bg-green {
  background-color: var(--green);
}

.min-height {
  height: min-content;
}

.dim-background {
  background-color: rgba(0, 0, 0, 0.356);

}

#header {
  height:calc(var(--header-Size) + 1px);
  width: 100vw;
  background-color: var(--green);
  color: var(--tan);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 30px;
  font-size: 20px;
  position: sticky;
  top: -1px;
}

#header-title {
  font-size: 30px;
  font-weight: bold;
}

#header-menu {
  text-decoration: underline;
}

#drawer {
  background-color: var(--tan);
  color: var(--green);
  /* width: 50px; */
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  font-size: 22px;
  font-weight: 700;
  gap: 25px;
}

