#discoverPurpose {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#discoverPurpose h2 {
  font-size: 25px;
  font-weight: 800;
}

#discoverContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.9vh;
  font-weight: 500;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.discoverText {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  gap: 10px;
  overflow-y: hidden;
  height: calc(100vh - 140px);
  margin-bottom: 6vh;
  scroll-snap-align: center;
  width: 100vw;
  min-width: 100vw;
}
.arrows {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}
.discoverTitle {
  font-size: 2.5vh;
  font-weight: 550;
}