
#essenceWithin {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto 100vw;
}

#essenceText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2.7vh;
  font-weight: 550px;
  padding: 10px;
}

#essenceText h2 {
  font-size: 6vh;
  font-weight: 700;
}