.offerings{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.offerings h2{
  font-size: 30px;
  font-weight: 700;
  }
#offeringsHeader h2{
  font-size: 5vw;

}
#offeringsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 5vw;
  font-weight: bold;
  width: 100%;
  /* margin-bottom: 15px; */
}

.offerings button{
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid var(--green);
  color: var(--green);
  line-height: 20px;
}
.sortMenu button {
  margin-bottom: 15px;
  width: 100%;

}
.sortMenu{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonGroup {
  width: 100%;
}
.offerItem {
  width: 100%;
}
.offerItem h3 {
  font-size: 20px;
  font-weight: bold;
}
.offerItem h4 {
  font-size: 18px;
  font-weight: bold;
}
.offerings a {
  text-decoration: underline;
}
.time {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-size: 18;
  font-weight: bold;
  border-bottom: 1px solid var(--green);
  margin-bottom: 5px;
}

.offerCol {
  height: calc(100vh - 200px);
  width: 100%;
  overflow-y: scroll;
  scrollbar-color: var(--green) var(--tan);
}
